html, body {
    font-family: Palatino,"Palatino Linotype",serif;
    font-size: 18px;
    line-height: 22px;
    color: #333;
}

/**
 * Desktop
 */
@media screen and (min-width: 900px) {
    #container {
        width: 880px;
        padding: 30px;
        margin: auto;
    }

    #stump {
        position: fixed;
        float: left;
        width: 270px;
    }

    #main {
        margin-top: 0;
        margin-left: 285px;
    }
}

/**
 * Mobile
 */
@media screen and (max-width: 900px) {
    #container {
        max-width: 600px;
        padding: 30px;
        margin: auto;
    }
}


/**
 * Generic Styles
 */
h1 {
    font-size: 30px;
    font-weight: bold;
    color: #0b4b9e;
}

h2 {
    padding-top: 20px;
}

.link {
    font-weight: bold;
    color: #0b4b9e;
}

blockquote {
    margin-left: 0;
    margin-right: 0;
    padding-left: 30px;
    padding-right: 30px;
    border-left: 8px solid #deebfd;
}

footer {
    color: #888;
    font-size: 17px;
    line-height: 21px;  
}

header ul {
    padding: 0;
    margin: 0;
}

header li {
    padding: 5px 0;
    list-style: none inside;
}

a {
    color: #555;
}