!!!
html
  head
    title Project Intern
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,800',rel='stylesheet',type='text/css')
    link(rel="stylesheet",type="text/css",href="css/main.css")
    body
      #container
        #stump
          header
            p
              a#siteheader Project Intern
          .what
            p Project Intern is a collection of various initiatives to get more SoC students summer internships with tech companies.

            p This site is one of the initiatives. We hope to consolidate all the information regarding getting an overseas summer internship.

          footer
            p
              a(rel="license",href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US")
                img(alt="Creative Commons License",style="border-width:0",src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png")
              br
              a(href='https://github.com/ymichael/projectintern') Contribute Here

        #main
          if toc
            h2 Table of Contents
            #toc!= toc
          #doc!= body
