!!!
html
  head
    meta(http-equiv="Content-Type",content="text/html;charset=utf-8")
    meta(http-equiv="X-UA-Compatible",content="IE=edge")
    title Project Intern
    meta(name="description",content="Project Intern is a collection of various initiatives to get more SoC students summer internships with tech companies. This site is one of the initiatives. We hope to consolidate all the information regarding getting an overseas summer internship.")
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,800',rel='stylesheet',type='text/css')
    link(rel="stylesheet",type="text/css",href="css/main.css")
    body
      #container
        #stump
          header
            p
              a#siteheader Project Intern
          .what
            p Project Intern is a collection of various initiatives to get more SoC students summer internships with tech companies.
            p This site is one of the initiatives. We hope to consolidate all the information regarding getting an overseas summer internship.
          footer
            p
              a.link(href="https://groups.google.com/forum/?fromgroups#!forum/nus-project-intern", target="blank") Join our mailing list.
              br
              br
              a.link(href='https://github.com/ymichael/projectintern') Contribute Here
              br
              br
              a(rel="license",href="http://creativecommons.org/licenses/by-nc-sa/3.0/deed.en_US", target="blank")
                img(alt="Creative Commons License",style="border-width:0",src="http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png")
        #main
          if toc
            h2 Table of Contents
            #toc!= toc
          #doc!= body
      // Google Analytics
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-42458047-1', 'github.com');
        ga('send', 'pageview');
