<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Project Intern is a collection of various initiatives to get more SoC students summer internships with tech companies. This site is one of the initiatives. We hope to consolidate all the information regarding getting an overseas summer internship.">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body itemscope itemtype="http://schema.org/WebPage">
        <header>
            <div class="center">
                <h1>Project Intern</h1>
                <p>An initiative to get more SoC students summer internships with tech companies.</p>
            </div>
        </header>
        <div role="main">{{ content }}</div>
    </body>
    <script>
        // Google Analytics.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-42458047-1', 'auto');
        ga('send', 'pageview');
    </script>
</html>
